<mat-drawer-container class="dashboard-container" autosize>
    <mat-drawer #drawer class="dashboard-sidenav" mode="side">
    <mat-nav-list>
      <a
      #homelink="routerLinkActive"
      routerLinkActive
      [activated]="homelink.isActive" 
      routerLink="home" 
      mat-list-item>Inicio</a>
      <a 
      #userslink="routerLinkActive"
      routerLinkActive
      [activated]="userslink.isActive"
      routerLink="users" 
      mat-list-item>Usuario</a>
      <a 
      #cursoslink="routerLinkActive"
      routerLinkActive
      [activated]="cursoslink.isActive"
      routerLink="cursos" 
      mat-list-item>Cursos</a>
      <a 
      #inscriptionlink="routerLinkActive"
      routerLinkActive
      [activated]="inscriptionlink.isActive"
      routerLink="inscription" 
      mat-list-item>Inscripciones</a>
      <a 
      (click)="logout()" mat-list-item>Cerrar sesion</a>
    </mat-nav-list>
    </mat-drawer>
  
    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
            <button
            (click)="drawer.toggle()"
             mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
            <span>Escuela N°7</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
              <mat-icon>share</mat-icon>
            </button>
          </mat-toolbar>
     
          <div class="p-5">

        <router-outlet></router-outlet>
          

    </div>
   
  </div>
  </mat-drawer-container>
  
